* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, serif;
}
body {
    background-color: #323333;
    color: #535353;
    font-size: 20px;
    letter-spacing: 1px;
}
header {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px auto;
    padding: 50px;
    display: inline-block;
    background-color: #F5E451;
}
button {
    background: none;
    border: 1px solid #535353;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: 5px;
}
button:hover {
    cursor: pointer;
}
.user_name:hover {
    cursor: pointer;
}
.name_input {
    background: none;
    border: 1px solid #535353;
    height: 10px;
    width: 80px;
    padding:5px;
    border-radius: 5px;
    float: right;
}
.user_input_toggle:hover {
    cursor: pointer;
}